// some style for Github finder Projects
// some color variable
$primary: #74b9ff;
$secondary: #b2bec3;
$warning: #fdcb6e;
$danger: #ff7675;
$success: #55efc4;
$dark: #2d3436;
$grey: #f1f1f1;
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: montserrat, sans-serif;
  background-color: $dark;
  color: #333;
  line-height: 1.4;
}
.btn {
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.15);
}
.btn-primary {
  background-color: $primary;
  color: #fff;
}
.badge {
  display: inline-block;
  padding: 4px;
  margin: 4px 2px;
  font-size: 0.6rem;
  box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.15);

  &-primary {
    background-color: $primary;
    color: #fff;
  }
  &-secondary {
    background-color: $secondary;
    color: #fff;
  }
  &-warning {
    background-color: $warning;
    color: #fff;
  }
  &-success {
    background-color: $success;
    color: #fff;
  }
}
.img {
  display: block;
  width: 100%;
  padding: 3px;
  margin: 0 auto 15px;
  border: 1px solid #efefef;
  box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.15);
}
ul {
  list-style-type: circle;
  padding: 0;
  color: #555;
  .list {
    list-style: none;
    padding: 8px 0;
    margin-left: 15px;
    border-bottom: 1px solid $grey;
  }
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.1);
  }
}
nav {
  padding: 10px;
  background-color: #fff;
  .brand {
    margin-left: 10%;
    font-size: 1.5rem;
    span {
      display: inline-block;
      padding: 5px;
      color: #fff;
      background-color: $dark;
      border-radius: 5px;
      border-top-left-radius: 15px;
    }
  }
}
.container {
  width: auto;
  max-width: 600px;
  padding: 30px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.2);
  border: 1px solid #efefef;
  @media only screen and (min-width: 768px) {

  }

  .input {
    margin-bottom: 30px;

    h1 {
      margin-bottom: 0;
      padding-bottom: 0;
      font-size: 1.8rem;
      text-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.2);
    }
    p.subheading {
      color: #888;
      margin-top: 0;
    }
    input {
      width: 100%;
      padding: 10px 15px;
      border: 1px solid #dedede;
      box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.15);
      background-color: #dfe6e9;
      outline: none;
    }
  }
  hr {
    border: 1px solid #aaa;
  }
  .profile {
    margin: 30px 0;
    
    .row {
      display: flex;
      flex-wrap: wrap;
      
      .col-4 {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        @media only screen and (min-width: 768px) {
          width: 40%;
          margin-bottom: 0px;
        }
      }
      .col-8 {
        width: 100%;
        padding: 0 15px;
        @media only screen and (min-width: 768px) {
          width: 60%;
    
        }
        
      }
    }
  }
  .repos {

    h2 {
      text-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.2);

    }
  }
}
footer p {
  text-align: center;
  color: #fff;
}